@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Reuse css classes*/
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

html {
  font-family: "Poppins", sans-serif;
  font-size: 62.5%;
  /* -- 1 rem = 10px -- */
}
h1 {
  color: lightcyan;
  font-size: 4rem;
}
h2 {
  color: lightcyan;
  background-color: lightcoral;
  padding: 0 2rem;
  border-radius: 1rem;
  font-size: 2.7rem;
}
.container {
  background-image: url(https://i.pinimg.com/736x/57/97/0f/57970f5f2bea62981680ae5cda852255.jpg);
  background-size: cover;
  width: 100%;
  height: 100vh;
}
.overlay {
  color: lightcyan;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
}
.box {
  border-radius: 1rem;
  padding: 1rem;
  width: 15rem;
  height: 7rem;
}
.col {
  text-align: center;
  gap: 2rem;
  font-weight: 600;
  font-size: 2rem;
}
.col input {
  text-align: center;
  font-weight: 700;
  font-size: 3rem;
  display: block;
}

@media screen and (max-width: 780px) {
  h1 {
    font-size: 2.3rem;
  }
  h2 {
    font-size: 2rem;
  }
  .col {
    flex-direction: column;
    font-size: 1.5rem;
  }
  .col input {
    font-size: 2rem;
  }
  .box {
    width: 10rem;
    font-size: 1.5rem;
    height: 6rem;
  }
}
